
#container{

     margin-left: 500px;
    
     height: 1000px;
     width: 700px;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     

}
#container1{
    background-color:#72c7e7;
    height: 100px;

  
    

}
#container1>h1{
    color: aliceblue;
    padding: 30px 20px;
    font-style: initial;
    font-family: sans-serif;
   
}
#container3{
    background-color: #8080801f;
    display:flex;


}
#heading2{
    color: #2c252594 ;
    font-family: sans-serif;
    margin-left: 50px;
 
}

#heading1{
    color: #72c7e7;
    font-family: sans-serif;
}
.space{
    font-family: sans-serif;
    margin-left: 50px;
    font-size: 20px;
}
#container4{
    display: flex;
}








img{
    height: 500px;
    width: 600px;
    margin:20px 50px ;
    margin-left: 50px;
}