.popup{
    position: absolute;
    top: 30rem;
    left: 55rem;
    width: 40rem;
    height: 20rem;
    background: #e0fbfc;
    border: 1px solid var(--greencolor);
    z-index: 100;
}
.confirm-container{
    width: 100%;
    height: 30%;
    background: var(--greencolor);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e0fbfc;

}
.confirm-container p{
    font-size: 2rem;
    margin: 0%;

}
.button-section{
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.button-section button{
    background: var(--greencolor);
    color: #e0fbfc;
    margin: 20% 1rem;
    padding: 1rem 3rem; 
    border: 1px solid white;
    border-radius: 1rem ;
}

