.editform{

    width: 40rem;
    height: 40rem;
    background: #e0fbfc;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top:30vh;
    left: 35vw;
    border-radius: 1rem;
    border:1px solid var(--greencolor);
    z-index: 100;
    isolation: isolate;
    opacity: 1;
    box-shadow: 5px 5px 25px grey;
    

}
.editform input{
    width: 60%;
    height: 3rem;
    margin: 0.5rem auto;
    border-radius: 1rem;

}
.editform button{
    width: 50%;
    margin: 2rem auto;
    background: var(--greencolor);

    height: 3rem;
}