

.editform-container{
    width: 100%;
    height: 100%;
    background-color: #0605057d;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}


.editform{

    width: 40rem;
    height: 40rem;
    background: #e0fbfc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top:30vh;
    left: 35vw;
    border-radius: 1rem;
    border:1px solid #415d43;
    z-index: 100;
    isolation: isolate;
    opacity: 1;
    box-shadow: 5px 5px 25px grey;
    

}
.editform input{
    width: 60%;
    height: 3rem;
    margin: 0.5rem auto;
    border-radius: 1rem;

}
.editform button{
    width: 50%;
    margin: 2rem auto;
    background: #415d43;

    height: 3rem;
}