
table{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 2rem;
    margin: auto auto;
    background: var(--sky);
    width: 70vw;

 
}
td,th,tr{
    border: 1px solid var(--greencolor);
    font-size: 1.5rem;
    padding:0.5rem 3rem;
    text-align: center;
    color:var(--textcolorblack)
}
th{
    background:var(--greencolor);
    color: white;
}
.button{
    border: none;
   background:var(--greencolor);
   padding: 0.5rem 2rem;
   color:  white;
   border-radius: 0.5rem;
   margin: 0 1rem;
   
}

@media screen and (max-width:1000px) {
    .button{
        margin:0.5rem auto;
    }
    
}