/* .container{
    height: 50rem;
    width: auto;
    border: 1px solid black;
    margin:4rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
} */
table{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 2rem;
    margin: auto auto;
    background: #e0fbfc;
    width: 70vw;

 
}
td,th,tr{
    border: 1px solid black;
    font-size: 1.5rem;
    padding:0.5rem 3rem;
    text-align: center;
}
th{
    background:var(--greencolor);
    color: #e0fbfc;
}
.button{
    border: none;
   background:var(--greencolor);
   padding: 0.5rem 2rem;
   color: #fafafa;
   border-radius: 0.5rem;
   margin: 0 1rem;
   
}

@media screen and (max-width:1000px) {
    .button{
        margin:0.5rem auto;
    }
    
}