/* .container{
    height: 50rem;
    width: auto;
    border: 1px solid black;
    margin:4rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
} */
table{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 2rem;
    margin: auto auto;
    background: #e0fbfc;
    width: 100rem;

 
}
td,th,tr{
    border: 1px solid black;
    font-size: 1.5rem;
    padding:2rem 3rem;
}
th{
    background: #415d43;
    color: #e0fbfc;
}
button{
    border: none;
   background: #415d43;;
   padding: 0.5rem 2rem;
   color: #fafafa;
   border-radius: 0.5rem;
   
}