 .header ul{
    background: #415d43;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    margin: 0%;
    color: white;
 }
 ul li{
   
    list-style: none;
    font-size: 2rem;
 }
