form{
    border: 1px solid black;
    
    display: flex;
    flex-direction: column;justify-content: center;align-items: center;
    margin: 2rem auto;        max-width:70vw;
    height: 20rem;
    background: #e0fbfc;
    

}
form div{
    display: flex;align-items: center;
    margin: 0.5rem auto;

}
form button{
    width: 20rem;
}
form input{
    width: 30rem;
    height: 2rem;
    margin: auto 2rem;
}

.select{
    align-self: flex-end;
    width: 5rem;
    color:var(--greencolor);

    border:3px solid var(--greencolor);
}
 form input::placeholder{
    margin: auto 2rem;
}
.invalid{
    border: 1px solid red;

}

.button{
    border: none;
   background: #415d43;;
   padding: 0.5rem 2rem;
   color: #fafafa;
   border-radius: 0.5rem;
   box-shadow: 0.5rem 0.5rem 2.5rem rgb(184, 184, 184);
   
}

@media screen and (max-width:780px) {
    html{
        font-size: 8px;
    }
    form button{
        width: 30vw;
    }
    form input{
        width: 90%;
    
      
    }
    form{
        min-width: 70vw;
    }

    
}
