form{
    border: 1px solid black;
    
    display: flex;
    flex-direction: column;justify-content: center;align-items: center;
    margin: 2rem auto;    width: 100rem;
    height: 20rem;
    background: #e0fbfc;
    

}
form div{
    display: flex;align-items: center;
    margin: 0.5rem auto;

}
form button{
    width: 20rem;
}
form input{
    width: 30rem;
    height: 2rem;
    margin: auto 2rem;
}

.select{
    align-self: flex-end;
    width: 5rem;
}
 form input::placeholder{
    margin: auto 2rem;
}
.invalid{
    border: 1px solid red;

}
