html {
    font-size: 10px;
}

body {
    margin: 0%;
}

nav {
    display: flex;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    background: #000;
}

p {
    font-size: 1.5em;
}

ul {
    height: 3em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 45em;
    font-size: 1.5em;
    list-style: none;
    color: aliceblue;
}

.logo {
    color: aliceblue;
    height: 3em;
    width: 15em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.chatbox {
    background-color: aqua;
    position: relative;
    overflow: auto;
}

.main-content p {
    padding: 0%;
    margin: 0%;
}

.header {
    width: auto;
    height: 5em;
    background: #008069;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom {
    margin: 0%;
    width: 32em;
    height: 5em;
    background: #EFEAE2;
  
    
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    height: 2em;
    width: 10em;
    border-radius: 2em;
    border: none;
}

.container {
    margin: 4em auto;
    height: 40em;
    width: 32em;
}

div.ex3 {
    background: #EFEAE2;
    width: auto;
    height: 41em;
    overflow: auto;
    padding: 2em;
    display: flex;
    flex-direction: column;
    
}

img {
    width: auto;
    height: 41em;
}

i {
    color: rgb(168, 168, 168);
    font-size: 2em;
    margin: 0.4em;
}


.icons {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background: #008069;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1em;
}

.sender {
    height: auto;
    width: fit-content;
    background: #fff;
    border-radius: 0.3em;
    padding: 0.5em;
    position: relative;
}

.receiver {
    height: auto;
    width: auto;
    background-color: #d9fdd3;
   
    align-self: end;
    border-radius: 0.3em;
    padding: 0.5em;
    position: relative;
}
.ex3 p::after{
    content: "9:35am";
    font-size: 0.6em;
    color: #877777;
    position: absolute;
    right: 0.5em;
    bottom: 0.1em;
    display: block;
}



.icon {
    font-size: 2em;
    color: #fff;
    margin: 0 0.4em;
}

label {
    color: #fff;
    font-size: 2em;
}

.input-box {
    border-radius: 2em;
    background: #fff;
    display: flex;
    align-items: center;
    margin-left: 0.8em;
}

input:focus {
    border: none;
    outline: none;
}
#mic{
    color: #fff;
}
.user-info{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.user-info p{
    margin: 0%;
    padding: 0;
    color: #fff;
}
.user-name{
    margin: 0 1em;
}