html {
    font-size: 10px;
}

body {
    margin: 0%;
    background: linear-gradient(to right, #c6ffdd, #fed677);
}

p {
    font-size: 1.5em;
}

.chatbox {
    position: relative;
    overflow: auto;
    height: 80%;
    background: #EFEAE2;
}

.main-content p {
    padding: 0%;
    margin: 0%;
}

.header {
    font-size: calc(100vh - 98.5vh);
    width: auto;
    height: 10%;
    background: #008069;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom {
    font-size: calc(100vh - 98.5vh);
    margin: 0%;
    width: 100%;
    height: 10%;
    background: #EFEAE2;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    height: 5vh;
    width: 50%;
    border-radius: 2em;
    border: none;
}

.container {
    margin: 4em auto;
    height: 70vh;
    width: 45em;
    box-shadow: 0.5em 0.5em 2.5em rgb(122, 122, 122);
}

div.ex3 {

    width: auto;
    height: auto;
    padding: 2em;
    display: flex;
    flex-direction: column;
}

img {
    width: auto;
    height: 41em;
}

i {
    color: rgb(168, 168, 168);
    font-size: 180%;
    margin: 0.4em;
}

.icons {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background: #008069;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1em;
}

.sender {
    height: auto;
    width: fit-content;
    background: #fff;
    border-radius: 0.3em;
    padding: 0.5em;
    position: relative;
    word-wrap: break-word;
}

.receiver {
    height: auto;
    width: auto;
    background-color: #d9fdd3;
    align-self: end;
    border-radius: 0.3em;
    padding: 0.5em;
    position: relative;
    word-wrap: break-word;
}

.ex3 p::after {
    content: "9:35am";
    font-size: 0.6em;
    color: #877777;
    position: absolute;
    right: 0.5em;
    bottom: 0.1em;
    display: block;
    
}

.icon {
    font-size: 180%;
    color: #fff;
    margin: 0 0.4em;
}

label {
    color: #fff;
    font-size: 2em;
}

.input-box {
    border-radius: 2em;
    background: #fff;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 0.8em;
}

input:focus {
    border: none;
    outline: none;
}

#mic {
    color: #fff;
}

.user-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-info p {
    margin: 0%;
    padding: 0;
    color: #fff;
}

.user-name {
    margin: 0 1em;
}

.media-i {
    display: flex;
    justify-content: space-between;
}

input::placeholder {
    font-size: calc(100vh - 98vh);
}